/* общее */
* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter/Inter-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'PTSerif';
    src: url('../fonts/PTSerif/PTSerif-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Black.ttf');
    font-weight: 900;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FFF;
}

h1,
h2 {
    font-family: 'PTSerif';
    font-size: 64px;
    color: #9A3030;
}

a {
    text-decoration: none;
}

.wrapper {
    max-width: 1680px;
    margin: 0 auto;
}

/* header */

.header {
    margin-top: 60px;
    display: flex;
    align-items: center;
}



.header--nav ul {
    display: flex;
    gap: 60px;
    margin-left: 396px;
}

.header--nav ul li a {
    font-family: 'Inter';
    font-size: 20px;
    color: #000;
}

/* first-block */
.first-block {
    display: flex;
    height: 762px;
    position: relative;
    margin-top: 150px;
}

.first-block::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vw;
    /* высота области тени */
    box-shadow: 0 17px 30px rgba(0, 0, 0, 0.25);
    pointer-events: none;
    /* чтобы не мешать взаимодействию */
}

.first-block--text {
    width: 1680px;
}

.first-block--text h1 {
    width: 891px;
    line-height: 85px;
}

.first-block--text p {
    width: 593px;
    color: #000;
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 500;
    padding: 80px 0;
    line-height: 28px;
}

.first-block--text a {
    color: #FFF;
    font-size: 20px;
    display: block;
    font-family: 'Roboto';
    font-weight: 500;
    background-color: #0E5494;
    border-radius: 50px;
    width: 375px;
    box-sizing: border-box;
    padding: 20px 135px;
    height: 62px;

}

.first-block img {
    position: absolute;
    right: 0;
    bottom: 0;
}

/* about */
.about {
    margin-top: 150px;
    height: 447px;
    display: flex;
    justify-content: space-between;
}

.about p {
    width: 777px;
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 500;
}

.about p span {
    display: block;
    padding-top: 28px;
}

.about--button {
    margin-top: 60px;
    float: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 20px;
    color: #0E5494;
    background-color: inherit;
}

.about--button_back {
    width: 110px;
}

.about--button_open {
    width: 226px;
}

#about--text,
#about--button_back {
    display: none;
}

.pistol {
    display: block;
    position: absolute;
    top: 1507px;
}

/* programs */
.programs {
    margin-top: 78px;
}

.programs--text {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.programs--text p {
    width: 675px;
    font-size: 24px;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 28px;
    margin-top: 17px;
}

.programs--text h2 {
    width: 870px;
    line-height: 85px;
}

/* slider */

.slider {
    position: relative;
    overflow: hidden;
    width: 1791px;
    margin: 0 0 0 auto;
}

.slider--slides {
    display: flex;
    gap: 60px;
    transition: transform 0.5s ease;
}

.slides--content {
    background-color: #000;
    width: max-content;
    box-sizing: border-box;
    padding: 115px 40px 45px;
    border-radius: 50px;
}

.slides--content img {
    border-radius: 50px;
    flex-shrink: 0;
    width: 513px;
    margin-bottom: 60px;
}

.slides--content h3 {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 36px;
    color: #9A3030;
    text-align: center;
}

.slides--content button {
    background-color: #0E5494;
    color: #FFF;
    border-radius: 50px;
    margin: 50px 47px;
    font-family: 'Roboto';
    width: 439px;
    height: 73px;
    font-size: 24px;
}

.slides--content div {
    border: 1px solid #FFF;
    display: flex;
    flex-direction: column;
    height: 292px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #FFF;
    width: 439px;
    box-sizing: border-box;
    font-size: 18px;
    gap: 40px;
    line-height: 21px;
    margin: 0 auto;
    padding: 40px 41px 0;
}

.slides--content div p:nth-child(2) {
    width: 383px;
}

.slides--content div p:nth-child(3) {
    width: 281px;
}

.slides--content:nth-child(4) div p:nth-child(3) {
    width: 246px;
}

.slides--content:nth-child(5) div p:nth-child(3) {
    width: 324px;
}

.slider--buttons {
    display: flex;
    width: 194px;
    margin: 40px auto 0;
    gap: 30px;
}

.slider--button {
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: 2px solid #0E5494;
    background-color: transparent;
}

.active {
    background: #0E5494;
}

/* organizers */
.pistol-2 {
    display: block;
    position: absolute;
    right: 0;
}

.organizers {
    margin-top: 153px;
    position: relative;
}

.organizers--first {
    display: flex;
    align-items: center;
}

.organizers--first h2 {
    max-width: max-content;
}

.organizers--items,
.supports--items {
    display: flex;
    margin-top: 100px;
    width: 1680px;
    flex-wrap: wrap;
    gap: 60px;
}

.items--btn {
    display: block;
    width: 375px;
    height: 126px;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: 500;
    border-radius: 30px;
    border: 2px solid #000;
    color: #000;
    padding: 52px 0 0 20px;
    box-sizing: border-box;
    line-height: 23px;
}

.items--btn:nth-child(2) {
    padding: 30px 0 0 26px;
}

.items--btn:nth-child(3) {
    padding: 18px 25px 0 26px;
}

/* .items--btn:nth-child(3) a {
    width: 326px;
} */

.items--btn:nth-child(4) {
    padding: 52px 0 0 50px;
}

.items--btn:nth-child(5) {
    padding: 40px 0 0 47px;
}

.items--btn:nth-child(6) {
    padding: 40px 0 0 63px;
}

.items--btn:nth-child(7) {
    padding: 40px 0 0 74px;
}

.items--btn_hover:hover {
    background-repeat: no-repeat;
    color: transparent;
    background-position: center;
}

.items--btn_hover-1:hover {
    background-image: url(../media/icons/organizers/sovrnhmao.svg);
}

.items--btn_hover-2:hover {
    background-image: url(../media/icons/organizers/sozvezdie.svg);
}

.items--btn_hover-3:hover {
    background-image: url(../media/icons/organizers/RMHU.svg);
}

.items--btn_hover-4:hover {
    background-image: url(../media/icons/organizers/sovinet.svg);
}

.items--btn_hover-5:hover {
    background-image: url(../media/icons/organizers/together.svg);
}

.items--btn_hover-6:hover {
    background-image: url(../media/icons/organizers/TIGR.svg);
}

.items--btn_hover-7:hover {
    background-image: url(../media/icons/organizers/reconstruction.svg);
}

/* supports */
.supports {
    margin-top: 100px;
}

.supports--items .items--btn {
    padding: 52px 0 0 46px;
    box-sizing: border-box;
}

.supports--items .items--btn:nth-child(2) {
    padding: 52px 0 0 40px;
}

.supports--items .items--btn:nth-child(3) {
    padding: 52px 0 0 135px;
}

.supports--items .items--btn_hover-1:hover {
    background-image: url(../media/icons/organizers/grantguber.svg);
}

.supports--items .items--btn_hover-2:hover {
    background-image: url(../media/icons/organizers/dumahmaoy.svg);
}

/* contacts */
.contacts {
    margin-top: 200px;
    max-width: 1680px;
    box-sizing: border-box;
    padding: 120px 130px 96px 77px;
    background-color: #000;
    border-radius: 100px;
}

.contacts--block {
    margin-top: 140px;
    display: flex;
    justify-content: space-between;
}

.contacts--map {
    width: 675px;
    height: 436px;
}

.contacts--text p,
.contacts--text a {
    color: #FFF;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 500;
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 40px;
}

.contacts--text p:first-child {
    margin-top: 0;
}

.contacts--text h3 {
    font-family: 'PTSerif';
    font-size: 48px;
    color: #9A3030;
    margin: 80px 0 50px;
}

/* footer */
.footer {
    padding: 100px 0 80px;
    display: flex;
    gap: 414px;
    align-items: center;
}

.footer--copy {
    width: 1028px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
}


/* АДАПТИВ */
.header--nav_mobile,
.header--mobile_open {
    display: none;
}

.header--mobile_close {
    background-color: #000;
    border: none;
    right: 0;
    top: -89px;
    padding-right: 30px;
    position: absolute;
}

.header--nav_mobile {
    background-color: #000;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    padding: 0 30px;
    z-index: 1000;
}

.header--nav_mobile ul li a {
    font-family: 'PTSerif';
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    color: #FFF;
    align-items: center;
    gap: 20px;
}

.header--nav_mobile-width {
    position: relative;
}

.header--nav_mobile ul li {
    margin-top: 50px;
}

.header--nav_mobile ul li:first-child {
    margin-top: 129px;
}

@media (max-width: 480px) {

    h1,
    h2 {
        font-size: 36px;
    }

    h3 {
        font-size: 24px;
    }

    p,
    a {
        font-size: 16px;
    }
body{
    overflow-x:hidden}
    .wrapper {
        max-width: 330px;
    }

    .header {
        justify-content: space-between;
    }

    .header {
        /* position: fixed;
        top: 0;
        left: 0; */
        width: 100vw;
        z-index: 999;
        background: #fff;
        /* left: 50%;
        transform: translateX(-50%); */
    }


    .header--nav {
        display: none;
    }

    .header--nav_mobile.menu-open {
        display: block;
    }

    .header--nav_mobile {
        display: none;
    }

    .header--mobile_open {
        display: block;
        background-color: #FFF;
    }

    .header--logo {
        width: 139px;
        height: 69px;
    }

    .first-block--text {
        width: 330px;
    }

    .first-block--text h1 {
        width: 330px;
        line-height: 48px;

    }

    .first-block--text a {
        width: 320px;
        padding: 22px 110px;
    }

    .first-block--text p {
        padding: 50px 0 70px;
        font-size: 20px;
        width: 330px;
    }

    .first-block::after {
        top: 0;
        margin-top: -279px;
        height: 844px;
    }

    .first-block {
        height: 415px;
    }

    .first-block img {
        display: none;
    }

    .about {
        margin-top: 230px;
        flex-direction: column;
        height: max-content;
    }

    .about p {
        width: 330px;
        font-size: 16px;
        margin-top: 50px;
        line-height: 19px;
    }

    .about--button {
        margin-top: 30px;
        font-size: 16px;
        float: none;
        justify-content: normal;
    }

    .about--button img {
        padding-left: 10px;
    }

    .pistol,
    .pistol-2 {
        display: none;
    }

    .programs--text {
        flex-direction: column-reverse;
        margin-bottom: 70px;
    }

    .programs--text p {
        width: 330px;
        font-size: 16px;
        line-height: 19px;
        margin-top: 50px;
    }

    .programs--text h2 {
        width: 330px;
        line-height: 48px;

    }

    .wrapper_mobile {
        margin: 0 auto;
        max-width: 390px;
    }
 .slider,
    .slides--content,
    .slides--content img,
    .slides--content button,
    .slides--content div {
        width: 100%;
        max-width: 100%;
        min-width: 0;
    }
    .slider {
        width: 100%;
        min-width: 0;
        max-width: 100vw;
        text-align: center;
        overflow: visible;
    }

    .slides--content img {
        width: 100%;
        height: auto;
        max-width: 100%;
        min-width: 0;
        margin-bottom: 30px;
        border-radius: 30px;
    }
    .slides--content h3 {
        font-size: 18px;
        width: 100%;
    }
    .slides--content button {
        width: 100%;
        min-width: 0;
        max-width: 100%;
        margin: 20px 0;
        font-size: 14px;
        box-sizing: border-box;
    }
    .slides--content div {
        width: 100%;
        min-width: 0;
        max-width: 100%;
        font-size: 14px;
        padding: 14px 14px 0 14px;
    }
    .slides--content div p {
        width: 100% !important;
        min-width: 0;
        max-width: 100%;
    }

    .slides--content:first-child {
        border-radius: 50px 50px 0 0;
    }

    .slides--content:nth-child(5) {
        border-radius: 0 0 50px 50px;
    }

    .slides--content {
        padding: 38px 20px 32px;
        border-radius: 0;
    }

    .slides--content img {
        width: 350px;
        height: 239px;
    }

    .slides--content h3 {
        font-size: 24px;
    }

    .slides--content button {
        border-radius: 50px;
        margin: 40px 0;
        width: 332px;
        height: 73px;
        font-size: 16px;
    }

    .slider--slides {
        flex-direction: column;
        gap: 0;
    }

    .slides--content div {
        width: 332px;
        height: max-content;
        font-size: 16px;
        line-height: 19px;
        text-align: start;
        margin: 0 auto;
        padding: 20px 47px;
    }

    .slides--content div p,
    .slides--content div p:nth-child(2) {
        width: 238px;
    }

    .slides--content div p:nth-child(3) {
        width: 184px;
    }

    .slides--content:nth-child(2) div p:nth-child(3) {
        width: 203px;
    }

    .slides--content:nth-child(3) div p:nth-child(3) {
        width: 250px;
    }

    .slides--content:nth-child(4) div p:nth-child(3) {
        width: 230px;
    }

    .slides--content:nth-child(5) h3 {
        line-height: 28px;
        width: 332px;
    }

    .slides--content:nth-child(5) {
        padding: 38px 20px 70px;
    }

    .slider--buttons {
        display: none;
    }

    .organizers {
        margin-top: 80px;
    }

    .organizers--items,
    .supports--items {
        margin-top: 50px;
        width: 330px;
        flex-wrap: nowrap;
        flex-direction: column;
        gap: 40px;
    }

    .items--btn {
        width: 330px;
        font-size: 16px;
        padding: 51px 0 0 29px;
        line-height: 19px;
    }

    .items--btn:nth-child(2) {
        padding: 32px 0 0 38px;
    }

    .items--btn:nth-child(3) {
        padding: 32px 0 0 19px
    }


    .items--btn:nth-child(5) {
        padding: 42px 0 0 57px;
    }

    .items--btn:nth-child(6) {
        padding: 42px 0 0 65px;
    }

    .items--btn:nth-child(7) {
        padding: 42px 0 0 74px;
    }

    .supports--items .items--btn {
        padding: 52px 0 0 49px;
    }

    .supports--items .items--btn:nth-child(2) {
        padding: 52px 0 0 45px;
    }

    .supports--items .items--btn:nth-child(3) {
        padding: 51px 0 0 120px;
    }

    .contacts {
        margin-top: 80px;
        width: 100%;
        padding: 100px 30px 70px;
        border-radius: 50px;
    }

    .contacts h2 {
        line-height: 48px;
    }

    .contacts--block {
        margin-top: 90px;
        flex-direction: column;
    }

    .contacts--map {
        width: 100%;
        height: auto;
        margin-top: 50px;
    }

    .contacts--text p,
    .contacts--text a {
        font-size: 16px;
        margin-top: 40px;
    }

    .contacts--text h3 {
        font-size: 24px;
        margin: 77px 0 50px;
    }

    .contacts--text img {
        width: 22px;
    }

    .footer {
        padding: 40px 0px;
        gap: 40px;
        align-items: start;
    }

    .footer a img {
        width: 38px;
        height: 38px;
    }

    .footer--copy {
        width: 239px;
        font-size: 13px;
        line-height: 15px;
    }
}
@media (max-width:390px){
  .wrapper_mobile {
        max-width: 100vw;
    }
}
    
